.right-container {
    margin-left: 30px;
    margin-right: 20px;
    width: 400px;
    max-width: 100%;
    background-color: rgb(242, 226, 226, 0.4);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-family:'Dancing Script', cursive;
    font-size: medium;
    font-weight: bolder;
    align-items: center;
    justify-content: center;
    
  }

  
.center {
    margin:auto;
    width: 40%;
    border: 3px solid #ccc;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-family: 'Qwitcher Grypen', cursive;
    font-weight: bolder;
    color: #fff;
  }