*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
    width: 100%;
    padding: 5px;
}

.swiper{
  width: 100%;
  height: fit-content;
}
.swiper-slide img{
  width: 100%;
  box-shadow: 5px black;
}

.swiper .swiper-button-prev{
  color:rgb(242, 226, 226, 0.6);


}
.swiper .swiper-button-next{
  color:rgb(242, 226, 226, 0.6);
}
.swiper .swiper-pagination-bullet-active{
  background: #fff;
}
.button {
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}
html,
body {
    --hue: var(--hue-neutral);
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    background-image: url("img/wood.jpg");
    background-color: #cccccc;
   
}
.content {
  max-width: 98.57rem;
  margin: 2rem auto;
  box-shadow: -1px 0px 6px 0px rgba(0,0,0,0.75);
  min-height: 100%;
} 
p.small {
  line-height: 0.7;
}

p.big {
  line-height: 1.8;
  font-size: 30px;
  font-family:'Dancing Script', cursive;
  font-weight: 900;
}
p.normal {
  font-weight: normal;
}

p.thick {
  font-weight: bold;
}

p.thicker {
  font-weight: 900;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

#container_fini {
    position: absolute;
    margin: auto;
    margin-top: 200px;
    font-family: 'Playfair Display', serif;
    width: 100vw;
    height: 80pt;
    top: 0;
    bottom: 0;
    filter: url(#threshold) blur(0.6px);

}

.container {
    margin-top: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
    border-radius: 5px;
    padding: 10px;
    font-family:'Dancing Script', cursive;
    font-size: medium;
    font-weight: bolder;
    
}

.container_new {

  filter: url(#threshold) blur(0.6px);
  position: center;
  width: 600px;
  max-width: 100%;
  background-color: rgb(242, 226, 226, 0.4);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-family:'Dancing Script', cursive;
  font-size: medium;
  font-weight: bolder;
  top: 0;
  bottom: 0;
  margin: auto;
}
.right-container {
  margin-left: 30px;
  margin-right: 20px;
  width: 400px;
  max-width: 100%;
  background-color: rgb(242, 226, 226, 0.4);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  font-family:'Dancing Script', cursive;
  font-size: medium;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
  
}





.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
  
.btn:hover {
    border-color: black;
}
  
  
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
  
.btn.wrong {
    --hue: var(--hue-wrong);
}
  


#infinite {
  background-color: #222;
  background-image: url(../img/infinite-loop-01.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #infinite {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #infinite {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #infinite {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #infinite {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #infinite {
    background-position: center -450px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #999;
    width: 100%;
  }
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-family:'Dancing Script', cursive;
    font-size: 80pt;
    overflow: hidden;
    text-align: center;

    user-select: none;
}