*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
    width: 100%;
    padding: 5px;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Merriweather', serif;
    background-image: url("img/wood.jpg");
    background-color: #cccccc;
}

.hero-image {
    background-image: url("img/infinite-loop-01.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(242, 226, 226, 0.4);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Merriweather', serif;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Merriweather', serif;
  }

.container-mini {
    width: 80px;
    max-width: 80%;
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Merriweather', serif;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
  
.btn:hover {
    border-color: black;
}
  
  
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
  
.btn.wrong {
    --hue: var(--hue-wrong);
}
  


#infinite {
	background-color: #222;
  background-image: url(../img/infinite-loop-01.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 375px;
  position: relative;
}

@media (min-height: 600px) and (min-width: 1920px) {
  #infinite {
    background-size: cover;
  }
}

@media (min-height: 830px) {
  #infinite {
    background-position: center -210px;
  }
}

@media (min-height: 680px) and (max-height: 829px) {
  #infinite {
    background-position: center -300px;
  }
}

@media (min-height: 500px) and (max-height: 679px) {
  #infinite {
    background-position: center -400px;
  }
}

@media (max-height: 499px) {
  #infinite {
    background-position: center -450px;
  }
}