*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded;
    width: 100%;
    padding: 5px;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.75);
    font-family: 'Merriweather', serif;
}


.container {
    width: 800px;
    max-width: 80%;
    background-color: rgb(242, 226, 226);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Merriweather', serif;
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-family: 'Merriweather', serif;
  }

.container-mini {
    width: 80px;
    max-width: 80%;
    background-color: rgb(255, 254, 254);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    font-family: 'Merriweather', serif;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
  
.btn:hover {
    border-color: black;
}
  
  
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
  
.btn.wrong {
    --hue: var(--hue-wrong);
}
  

  

  